.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 70%;
    padding-left: 70px;
    padding-top: 180px;
}

.hero-text h1 {
    font-size: 4rem;
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.view-burgers-button {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: backgraund-color 0.3s ease;
}

.view-burgers-button:hover {
    background-color: yellow;
}

@media (max-width: 768px) {

    .hero-text {
        width: 70%; 
        max-width: none;
        text-align: left;
        padding: 100px 10px 0 0;
    }

    .hero-content h1 {
        font-size: 1.8rem;
    }

    .view-burgers-button {
        font-size: 0.9rem;
    }

}